@import url('typography.css');

// COLORS

// PRIMARY (TEXT)
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// PRIMARY (Gradient)
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

// NEUTRAL (TEXT)
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

// NEUTRAL (DIVIDERS)
$lightGrayishBlue: hsl(240, 5%, 91%);

// COMMON
html, body {
    max-width: 100vw;
}

body {
    background: linear-gradient($softViolet, $softBlue);
    box-sizing: content-box;
    height: 100vh;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// MAIN 
main {
    width: 285px;
    height: 535px;
    padding: 0px 22px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 110px auto;
    grid-template-areas: 
    'image-content'
    'faq-section';

    // IMAGE CONTENT
    .image-content{
        grid-area: image-content;

        .illustration-mobile-content {
            height: 100%;
            width: 100%;
            position: relative;

            .overflow-mobile-box {
                z-index: 0;
                position: relative;
                height: inherit;
                overflow-y: hidden;

                img {
                    position: absolute;
                    top: 0%;
                    left: 10%;
                }
            }

            .illustration-mobile {
                position: absolute;
                top: -95%;
            }
        }

        .illustration-desktop-content {
            display: none;
        }
    }

    // FAQ SECTION
    .faq-section {
        grid-area: faq-section;

        // FAQ HEADER
        .faq-header {
            font-family: 'KumbhSans-Bold';
            font-size: 2.75em;
            text-align: center;
            color: $veryDarkDesaturatedBlue;
            margin-bottom: 32px;
        }

        // FAQ QUESTION BOX
        .faq-question-box {
            width: 290px;
            
            // QUESTION BUTTON
            .question-button {
                width: 100%;
                background-color: transparent;
                border: 0px solid;
                font-family: 'KumbhSans-Regular';
                font-size: 1.10em;
                text-align: start;
                color: $veryDarkGrayishBlue;

                // HOVER BUTTON 
                &:hover {
                    color: $softRed;
                }

                // ARROW DOWN
                &::after{
                    content: url('../images/icon-arrow-down.svg');
                    float: right;
                }
            }

            // SELECTED QUESTION BUTTON 
            .question-button-selected {
                @extend .question-button;
                font-family: 'KumbhSans-Bold' !important;
                color: $veryDarkDesaturatedBlue !important;
            }

            // FAQ ANSWER BOX
            .faq-answer-show {
                display: block;
                        
                .answer-paragraph {
                    width: 90%;
                    font-family: 'KumbhSans-Regular';
                    color: $darkGrayishBlue;
                    line-height: 20px;
                    padding: 0px 6px;
                }
            }

            .faq-answer-hide {
                display: none;
            }
        }

        // DIVIDER
        .divider {
            width: 95%;
            height: 1px;
            border: none;
            background-color: $lightGrayishBlue;
            margin: 17px auto;
        }
    }
}

/* PORTRAIT TABLETS */
@media only screen and (min-width:600px){

}

/* LANDSCAPE TABLETS */
@media only screen and (min-width:768px){
    
}

/* LAPTOP/DESKTOP */
@media only screen and (min-width:992px){

    // MAIN 
    main {
        width: 920px;
        height: 510px;
        padding: 0px;
        background-color: white;
        grid-template-rows: auto;
        grid-template-columns: 390px 340px;
        column-gap: 85px;
        grid-template-areas: 
        'image-content faq-section';

        // IMAGE CONTENT
        .image-content{
            position: relative;

            .illustration-mobile-content {
                display: none;
            }

            .illustration-desktop-content {
                display: block;
                height: 100%;
                width: 100%;
                position: relative;

                .overflow-desktop-box {
                    z-index: 0;
                    position: relative;
                    height: inherit;
                    overflow: hidden;

                    .pattern-desktop {
                        position: absolute;
                        top: -58%;
                        left: -150%;
                    }

                    .illustration-desktop {
                        position: absolute;
                        top: 14%;
                        left: -22%;
                    }
                }

                img {
                    position: absolute;
                    z-index: 1;
                    top: 40%;
                    left: -25%;
                }
                
            }
        }

        // FAQ SECTION
        .faq-section {
            margin: 45px 0px;

            // FAQ HEADER
            .faq-header {
                font-size: 2.5em;
                text-align: left;
                margin-bottom: 40px;
            }

            // FAQ QUESTION BOX
            .faq-question-box {
                width: 100%;
                
                // QUESTION BUTTON
                .question-button {
                    width: 100%;
                    font-size: 1.15em;
                    padding: 2px;
                }

                // FAQ ANSWER BOX
                .faq-answer-show {
                            
                    .answer-paragraph {
                        width: 95%;
                        line-height: 18px;
                        padding: 0px 0px;
                    }
                }
            }

            // DIVIDER
            .divider {
                width: 100%;
                margin: 16px auto;
            }
        }
        
    }
 
}

/* LARGE LAPTOP/DESKTOP */
@media only screen and (min-width:1200px){
    
}